@import url('https://me-deplacer.iledefrance-mobilites.fr/assets/ds/fonts/Raleway/Raleway-Regular.ttf');

* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --station-dark-text-color: #25303B;
    --station-light-text-color: #FFFFFF;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
    background-color: #0062a1;
    color: var(--station-light-text-color);
}

h3 {
    font-size: 2.2em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.8em;
}

p, li {
    font-size: 1.5em;
}

.station-name {
    color : var(--station-light-text-color);
    background-color: #0a0082;
    text-align: center;
    padding: 10px;
}

.ligne-1 {
    background-color: #FFBE00;
    color: var(--station-dark-text-color);
}

.ligne-2 {
    background-color: #0055C8;
    color: var(--station-light-text-color);
}

.ligne-3 {
    background-color: #6E6E00;
    color: var(--station-light-text-color)
}

.ligne-3B {
    background-color: #6EC4E8;
    color: var(--station-dark-text-color);
}

.ligne-4 {
    background-color: #A0006E;
    color: var(--station-light-text-color);
}

.ligne-5 {
    background-color: #FF7E2E;
    color: var(--station-dark-text-color);
}

.ligne-6 {
    background-color: #6ECA97;
    color: var(--station-dark-text-color);
}

.ligne-7 {
    background-color: #F49FB3;
    color: var(--station-dark-text-color);
}

.ligne-7B {
    background-color: #6ECA97;
    color: var(--station-dark-text-color);
}

.ligne-8 {
    background-color: #D282BE;
    color: var(--station-dark-text-color);
}

.ligne-9 {
    background-color: #B6BD00;
    color: var(--station-dark-text-color);
}

.ligne-10 {
    background-color: #C9910D;
    color: var(--station-dark-text-color);
}

.ligne-11 {
    background-color: #704B1C;
    color: var(--station-light-text-color);
}

.ligne-12 {
    background-color: #007852;
    color: var(--station-light-text-color);
}

.ligne-13 {
    background-color: #6EC4E8;
    color: var(--station-dark-text-color);
}

.ligne-14 {
    background-color: #62259D;
    color: var(--station-light-text-color);
}

.ligne-A {
    background-color: #EB2132;
    color: var(--station-light-text-color);
}

.ligne-B {
    background-color: #5091CB;
    color: var(--station-light-text-color);
}

.ligne-C {
    background-color: #FFCC30;
    color: var(--station-dark-text-color);
}

.ligne-D {
    background-color: #008B5B;
    color: var(--station-light-text-color);
}

.ligne-E {
    background-color: #B94E9A;
    color: var(--station-light-text-color);
}